#container
	%h1 Be a Web Developer
	%h2 An online, mentor-based programming course
	.calltoaction
		%a{ :href => "", :class => "btn" } Apply to be a mentee
		%h3
			Get
			%span.strong personal, 1-on-1 training
			%br
			from an experienced web developer.
		.clear

	#howitworks
		%h2 How it works
		.clearsmall
		.box
			%h3 Work 1-on-1 with your mentor
			%p Connect directly with your mentor whenever you need help.
		.box
			%h3 Learn at your own speed
			%p Move fast or take it slow; we'll match your pace.
		.box
			%h3 Mingle with other students
			%p Learning together helps reinforce your recently acquired knowledge.
		.box
			%h3 Flexible curriculum
			%p Follow our innovative learning path or build your own project.
		.box
			%h3 Flexible office hours
			%p Keep your day job, we'll work around your schedule.
		.box
			%h3 Our goal is your independence
			%p Strike our on your own as soon as you feel confident.
		.clear

	#learn
		%h2 What you'll learn
		.clearsmall
		.box
			%h3 User Experience Design
			%p
				%span.strong Best Practices -
				User stories, storycarding, user personas, information architecture, user application flows, and site maps
			%p
				%span.strong Wireframing -
				Content structuring, attention dynamics, sketching, prototyping, interaction planning and design, and Sharpies
			%h3 Web Design
			%p
				%span.strong HTML & CSS Foundations -
				Display content, style it, add images and videos and audio, build forms, and turn Photoshop designs into working websites
			%p
				%span.strong Advanced HTML & CSS -
				Responsive layouts, CSS animations and transitions, web fonts, icon fonts, designing in code, compilers like HAML, SASS, and SCSS
			%p
				%span.strong JavaScript Foundations -
				Programming with JavaScript, traversing the DOM, AJAX, jQuery plugins, and writing jQuery from scratch
		.box
			%h3 Web Development
			%p
				%span.strong Ruby -
				Build programs in Ruby, a fast-growing and incredibly popular programming language
			%p
				%span.strong Rails & Sinatra -
				Quickly prototype database-driven web applications in Sinatra and grow your toolbox with Rails
			%p
				%span.strong Git, Github, and CLI -
				Work from the command line in Terminal, use Git version control and best practices, and work with other developers via Github
			%p
				%span.strong TDD & Agile Principles -
				Start with Test Driven Development, build lean projects with quick iterations and learn from your users
			%p
				%span.strong Deploying to Heroku -
				Package your app, spin up a dyno, and publish your app to the world
		.clear
	#footer
		%a{ :href => "mailto:scottmagdalein@gmail.com" } Ask us a question
		%a{:href => "https://docs.google.com/forms/d/1sGsgoeJ46nzaCZ7hO2zlR_7_Jr4as3l-XHF9Glid8uk/viewform"} Become a mentor