%html
%head
  %title Unstumped - Get 1-on-1 help with HTML, CSS, JavaScript, and Ruby
  %link{ :href => "/stylesheets/style.css", :type => "text/css", :rel => "stylesheet" }
  %link{ :href => "/stylesheets/modal.css", :type => "text/css", :rel => "stylesheet" }
  %link{ :href => "http://fonts.googleapis.com/css?family=Open+Sans:400,800,700|Merriweather:400,900", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "/scripts/jquery.js", :type => "text/javascript" }
  %script{ :src => "/scripts/modal.js", :type => "text/javascript" }
  
%body
  #top-container
    #header
      %h1 Unstumped
      %h2
        Everyone gets stumped sometimes.
        %br Let us help you get unstumped.
    .calltoaction
      %a{ :href => "http://gum.co/sFbx", :class => "btn" } Start a conversation - $24
      %h3
        Get
        %span.strong 1-on-1 help
        from a professional web developer when you're stumped by
        %span.strong HTML, CSS, JavaScript or Ruby.
    .clear/
  #howitworks
    %h2 How it works
    %p
      %span.ss-user
      %span.ss-transfer
      %span.ss-user
      %br
      Unstumped connects you with a professional web developer in a 1-on-1 conversation. Work through your problem with someone who can help you discover the solution.
    %p
      %span.ss-mail
      %br
      It all happens over email and feels just like working with a great customer support team. Our folks are smart, nice, and very helpful.
    %p
      %span.ss-heartuser
      %br
      The conversation isn't over until you feel comfortable with the answer to the question you asked. If you're not happy with the service you received, we'll give you a refund.
  .clear

  #whofor
    %h2 Who needs Unstumped?
    %h3 Unstumped exists for brave beginners, for the ones who have the courage to teach themselves how to create for the web.
    .whofor_item
      %p.strong Online students
      %p Taking courses with Codecademy, Treehouse, Code School or a similar tool? Consider Unstumped your personal coding assistant to help you get through the hardest parts with a helping hand.
    .whofor_item
      %p.strong Bootcamp students
      %p Working hard to build something from nothing in 6 weeks AND learn how to build it? Let Unstumped save you from the otherwise inevitable facepalms.
    .whofor_item
      %p.strong Googling students
      %p Trying to learn web development the old-fashioned way with a thousand Google searches? Please let us help you. Please.
    .clear/
  #questions
    %h2 More questions
    .question
      %p.strong What do you get for your money?
      %p Start a conversation by asking a question about a single topic that has you stumped. Continue the conversation until you feel comfortable enough with the topic to proceed on your own.
    .question
      %p.strong Who are these so-called "web development professionals"?
      %p They folks like you and me, except they've been getting paid to build websites and web apps for a long time. They know web development like Spielberg knows movies.
    .question
      %p.strong What happens if my question isn't answered well?
      %p If your question isn't answered to your liking, contact us and we'll take a look at the conversation thread. If we think you didn't get the service you paid for, we'll issue you a full refund.
    .clear/
  #footer
    %p
      %a{ :href => "https://docs.google.com/forms/d/1sGsgoeJ46nzaCZ7hO2zlR_7_Jr4as3l-XHF9Glid8uk/viewform" } Apply to become a teacher & help people get Unstumped
    %br
    %p
      %a{ :href => "mailto:scottmagdalein@gmail.com" } Email the founder
    %br
    %p Copyright infinity. Don't steal stuff, man.
  %script{ :src => "https://gumroad.com/js/gumroad-button.js", :type => "text/javascript" }
  %script{ :src => "https://gumroad.com/js/gumroad.js", :type => "text/javascript" }
