%form{:action => "https://authorize.payments.amazon.com/pba/paypipeline", :method => "post"}
  %input{:name => "returnUrl", :type => "hidden", :value => "http://newmethod.co/hooray"}/
  %input{:name => "processImmediate", :type => "hidden", :value => "0"}/
  %input{:name => "accessKey", :type => "hidden", :value => "11SEM03K88SD016FS1G2"}/
  %input{:name => "signatureMethod", :type => "hidden", :value => "HmacSHA256"}/
  %input{:name => "collectShippingAddress", :type => "hidden", :value => "0"}/
  %input{:name => "amazonPaymentsAccountId", :type => "hidden", :value => "DCBQHCQTLQBV6THBBBD59A31SNUMAGSQNU2SL7"}/
  %input{:name => "cobrandingStyle", :type => "hidden", :value => "logo"}/
  %input{:name => "immediateReturn", :type => "hidden", :value => "1"}/
  %input{:name => "amount", :type => "hidden", :value => "USD 500"}/
  %input{:name => "recurringFrequency", :type => "hidden", :value => "1 month"}/
  %input{:name => "description", :type => "hidden", :value => "Monthly membership to New Method"}/
  %input{:name => "abandonUrl", :type => "hidden", :value => "http://newmethod.co/sadface"}/
  %input{:name => "signatureVersion", :type => "hidden", :value => "2"}/
  %input{:name => "signature", :type => "hidden", :value => "mY75ZSVUQ1p9Lhww5wf0Tm5ZVS7PStDWZuj3tMJHUB4="}/
  %input{:border => "0", :class => "btn", :type => "image"}/