<form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
  <input type="hidden" name="returnUrl" value="http://unstumped.com/hooray" >
  <input type="hidden" name="processImmediate" value="0" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="signatureMethod" value="HmacSHA256" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="amazonPaymentsAccountId" value="DCBQHCQTLQBV6THBBBD59A31SNUMAGSQNU2SL7" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="immediateReturn" value="1" >
  <input type="hidden" name="amount" value="USD 500" >
  <input type="hidden" name="recurringFrequency" value="1 month" >
  <input type="hidden" name="description" value="Monthly membership to Unstumped School of Code" >
  <input type="hidden" name="abandonUrl" value="http://unstumped.com/sadface" >
  <input type="hidden" name="signatureVersion" value="2" >
  <input type="hidden" name="signature" value="JAX+RNO1wIzfbjfAMCJIqlkiiyzq8TGdH5AG4CWKnRI=" >
  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withmsg_whitebg.gif" border="0">
</form>