* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Merriweather', serif;
	color: #21331A;
}
body {
	width: 100%;
}
.clear {
	clear: both;
	padding: 50px;
}
.clearsmall {
	clear: both;
	padding: 10px;
}

#container, #howitworks, #learn, #faq, #pricing, #apply {
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 90px;
	font-weight: 800;
	padding-top: 20px;
	text-align: center;
	text-shadow: 0 0 1px #21331A;
}
h2 {
	font-family: 'Merriweather', serif;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}
h4 {
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	letter-spacing: .1em;
	word-spacing: .5em;
	padding-bottom: 20px;
}
p {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
}
.strong {
	font-weight: 800;
}

a, a:hover {
	color: #3D8C72;
	text-decoration: none;
}
.calltoaction {
	width: 820px;
	margin: 0 auto;
}
.calltoaction .btn {
	display: block;
  width: 320px;
  font-family: 'Open Sans', serif;
  font-size: 28px;
  color: #fff;
  background-color: #69A551;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #3D8C72;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 50px auto 0;
  font-weight: bold;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-animation: btnWiggle 5s infinite;
  -moz-animation: btnWiggle 5s infinite;
  -o-animation: btnWiggle 5s infinite;
  animation: btnWiggle 5s infinite;
}

.calltoaction .btn:hover {
	opacity: .9;
	transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

/* btn animation */
@-webkit-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-o-keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-1deg);}
	3.5% {-webkit-transform: rotate(1deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}
.calltoaction h3 {
	text-align: center;
	padding-top: 50px;
}


#howitworks-container {
	width: 100%;
	background-color: #E6F4E7;
	border-top: 5px dashed #A8BDB5;
}
#howitworks .box {
	display: block;
	float: left;
	width: 300px;
	height: 210px;
	margin: 10px;
	background-color: #21331A;
	border-radius: 5px;
	box-shadow: 0 5px 0 #69A551;
	color: #fff;
}
#howitworks h3 {
	font-weight: bold;
	text-align: left;
	line-height: 35px;
	margin: 20px;
}
#howitworks p {
	font-size: 110%;
	margin: 20px;
}

#learn-container {
	width: 100%;
	background-color: #69A551;
	border-top: 5px dashed #21331A;
}
#learn h2 {
	color: #fff;
}
#learn .box {
	display: block;
	float: left;
	width: 458px;
	margin: 10px;
	background-color: #E6F4E7;
	border-radius: 5px;
	/*border: 1px solid #69A551;*/
	box-shadow: 0 5px 0 #21331A;
	color: #21331A;
}
#learn .box-right {
	display: block;
	float: right;
	width: 458px;
	padding: 10px 0;
	margin: 10px;
	background-color: #E6F4E7;
	border-radius: 5px;
	/*border: 1px solid #69A551;*/
	box-shadow: 0 5px 0 #21331A;
	color: #21331A;
}
#learn h3 {
	font-weight: bold;
	text-align: left;
	line-height: 35px;
	margin: 20px;
}
#learn p {
	font-size: 110%;
	margin: 20px;
}

#faq-container {
	width: 100%;
	background-color: #E6F4E7;
	border-top: 5px dashed #A8BDB5;
}
#faq h3 {
	font-weight: bold;
	text-align: left;
	line-height: 35px;
	margin: 20px;
}
#faq p {
	font-size: 110%;
	margin: 20px;
}

#pricing-container {
	width: 100%;
	background-color: #69A551;
	border-top: 5px dashed #21331A;
}
#pricing .box {
	display: block;
	width: 550px;
	margin: 0 auto;
	padding: 10px;
	background-color: #E6F4E7;
	border-radius: 5px;
	box-shadow: 0 5px 0 #21331A;
	color: #21331A;
}
#pricing h2 {
	color: #fff;
}
#pricing p {
	text-align: center;
}

table {
	background-color: #E6F4E7;
	border-radius: 5px;
	box-shadow: 0 5px 0 #21331A;
	color: #21331A;
	margin: 0 auto;
}
td h3 {
	text-align: left;
	margin: 10px 30px;
}
th {
	padding: 10px;
	border-bottom: 1px dashed #21331A;
}

#apply-container {
	width: 100%;
	background-color: #E6F4E7;
	border-top: 5px dashed #3D8C72;
}
#apply h2 {
	color: #fff;
}
#apply .box {
	display: block;
	float: left;
	width: 458px;
	margin: 10px;
	background-color: #E6F4E7;
	border-radius: 5px;
	/*border: 1px solid #69A551;*/
	box-shadow: 0 5px 0 #21331A;
	color: #21331A;
}
#apply .box-right {
	display: block;
	float: right;
	width: 458px;
	padding: 10px 0;
	margin: 10px;
	background-color: #E6F4E7;
	border-radius: 5px;
	/*border: 1px solid #69A551;*/
	box-shadow: 0 5px 0 #21331A;
	color: #21331A;
}

#footer {
	text-align: center;
}
#footer a {
	margin: 20px;
	text-decoration: underline;
	padding: 20px 0;
}



